package silica

// Code generated by Microsoft (R) AutoRest Code Generator 1.0.1.0
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.

import (
    "github.com/Azure/go-autorest/autorest"
    "github.com/Azure/go-autorest/autorest/azure"
    "net/http"
)

// GetSystemAPIClient is the master API Teplate with cross cutting concerns
// baked into the template.
type GetSystemAPIClient struct {
    ManagementClient
}
// NewGetSystemAPIClient creates an instance of the GetSystemAPIClient client.
func NewGetSystemAPIClient() GetSystemAPIClient {
        return NewGetSystemAPIClientWithBaseURI(DefaultBaseURI, )
        }

// NewGetSystemAPIClientWithBaseURI creates an instance of the
// GetSystemAPIClient client.
    func NewGetSystemAPIClientWithBaseURI(baseURI string, ) GetSystemAPIClient {
        return GetSystemAPIClient{ NewWithBaseURI(baseURI, )}
    }

// PingAPI endpoint used for Heartbeat Monitoring. Monitoring will use this
// endpoint to check if the API is up and available.
//
// APIKey is client API Key
func (client GetSystemAPIClient) PingAPI(APIKey string) (result autorest.Response, err error) {
    req, err := client.PingAPIPreparer(APIKey)
    if err != nil {
        err = autorest.NewErrorWithError(err, "silica.GetSystemAPIClient", "PingAPI", nil , "Failure preparing request")
        return
    }

    resp, err := client.PingAPISender(req)
    if err != nil {
        result.Response = resp
        err = autorest.NewErrorWithError(err, "silica.GetSystemAPIClient", "PingAPI", resp, "Failure sending request")
        return
    }

    result, err = client.PingAPIResponder(resp)
    if err != nil {
        err = autorest.NewErrorWithError(err, "silica.GetSystemAPIClient", "PingAPI", resp, "Failure responding to request")
    }

    return
}

// PingAPIPreparer prepares the PingAPI request.
func (client GetSystemAPIClient) PingAPIPreparer(APIKey string) (*http.Request, error) {
    pathParameters := map[string]interface{} {
    "API_Key": autorest.Encode("path",APIKey),
    }

    preparer := autorest.CreatePreparer(
                        autorest.AsGet(),
                        autorest.WithBaseURL(client.BaseURI),
                        autorest.WithPathParameters("/System/API_Ping/{API_Key}/",pathParameters))
    return preparer.Prepare(&http.Request{})
}

// PingAPISender sends the PingAPI request. The method will close the
// http.Response Body if it receives an error.
func (client GetSystemAPIClient) PingAPISender(req *http.Request) (*http.Response, error) {
    return autorest.SendWithSender(client, req)
}

// PingAPIResponder handles the response to the PingAPI request. The method always
// closes the http.Response Body.
func (client GetSystemAPIClient) PingAPIResponder(resp *http.Response) (result autorest.Response, err error) {
    err = autorest.Respond(
            resp,
            client.ByInspecting(),
            azure.WithErrorUnlessStatusCode(http.StatusOK),
            autorest.ByClosing())
    result.Response = resp
    return
}

